:root {
  --white: #fff;
  --gap-x: 10rem;
  --gap-y: 9rem;
  --font-archivo: "Archivo", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--white);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-archivo);
  font-weight: 400;
  font-size: calc(100vw / 1920 * 10);
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  height: max-content;
  width: max-content;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  pointer-events: none;
  clip-path: inset(2rem round 2rem);
}

.logo {
  position: fixed;
  top: var(--gap-y);
  left: var(--gap-x);
  z-index: 3;
  width: 6.5rem;
}

.cta {
  position: absolute;
  top: var(--gap-y);
  right: var(--gap-x);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--white);
  border-radius: 50px;
  color: #000;
  font-size: 2rem;
  height: 6rem;
  text-decoration: none;
  width: 24rem;
  z-index: 2;
  transition: background 0.22s ease-in-out, color 0.22s ease-in-out;
}
.cta span {
  color: inherit;
}

a.cta:hover {
  background: #000;
  color: var(--white);
}

.content {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
}

.holder {
  position: relative;
}

.content__holder {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: #050f7c;
  clip-path: inset(2rem round 2rem);
  display: flex;
  align-items: flex-end;
  transition: background 2s ease-in-out;
}

.bg__grad {
  background: linear-gradient(0deg, #161616b0 18.23%, #ffffff00 100%);
  height: 66vh;
  width: 100%;
}

.marquees {
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100vw;
}

.marquees__content {
  font-size: 30rem;
  letter-spacing: -1.1rem;
  margin: 0 4rem 0 0;
  opacity: 1;
  transition: opacity 1s ease-in-out 0s;
}

ul.marquees__holder {
  display: grid;
  grid-template-columns: 1fr;
}

.marquees__travel {
  display: inline-flex;
  grid-area: 1 / 1 / 2 / 2;
  white-space: nowrap;
  will-change: transform;
  opacity: 0;
  transition: opacity 1s ease-in-out 0s;
}

.mq {
  --time: 16s;
  animation: marquee var(--time) infinite linear;
}

.texts {
  position: absolute;
  z-index: 1;
  bottom: var(--gap-y);
  left: var(--gap-x);
}

ul.texts__holder {
  display: grid;
  grid-template-columns: 1fr;
}

li.texts__txt {
  grid-area: 1 / 1 / 2 / 2;
  opacity: 0;
  transition: opacity 1s ease-in-out 0s;
}
.texts h2 {
  font-size: 2.2rem;
}

.texts p {
  font-size: 1.8rem;
  line-height: 130%;
  margin: 1.7rem 0 0 0;
  width: 44.6rem;
}

.trgs {
  position: absolute;
  bottom: var(--gap-y);
  right: var(--gap-x);
  z-index: 1;
}

.trgs__holder {
  display: flex;
  gap: 4rem;
}

button.trgs__trg {
  width: 8.5rem;
}

.trgs__trg svg {
  overflow: visible;
  transform-origin: 50% 50%;
  transition: scale 0.225s ease-in-out;
}

.trgs__trg svg rect {
  fill: rgba(0, 0, 0, 0.3);
  transition: fill 0.225s ease-in-out, scale 0.225s ease-in-out;
}

button.trgs__trg:hover svg rect {
  fill: rgba(255, 255, 255, 0.2);
}

button.trgs__trg:hover svg {
  scale: 1.2;
}

/* TEMPORARY */
.marquees__travel:first-child,
li.texts__txt:first-child {
  opacity: 1;
}
